Flask==3.0.3
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==10.4.0
python-dotenv==1.0.1
segment_anything==1.0
ultralytics==8.3.3
numpy==1.26.4
pymongo==4.10.1
flask_cors==5.0.0
rapidfuzz==3.10.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.2+cu121
torchvision==0.17.2+cu121